* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  color: #495164;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', sans-serif;
}

html {
  font-size: 14px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

#app,
body,
html {
  height: 100%;
}

#nprogress .bar {
  background: #00681f !important;
  height: 5px !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px #00681f,
    0 0 5px #00681f !important;
}

a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
}
